!!!
%html
  %head
    %title Mymarketprices
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'header_javascripts'
    = csrf_meta_tags
  %body
    %nav#topbar_navigation

    #flash_messages.flash_messages
    - flash.each do |name, msg|
      = content_tag :div, msg, id: "flash_#{name}"

    = yield

    = javascript_include_tag 'footer_javascripts'
